<div class="grid-container">
  <nav class="" aria-label="Site Nav Links">
    <ol class="">
      <li class="__list-item">
        <a href="/vessels" id="nav-vessel" class="__link" data-navigo>
          <span>Vessel List</span>
        </a>
      </li>
      <li class="__list-item">
        <a href="/haul/_/start" id="nav-haulstart" class="__link" data-navigo>
          <span>Haul Start</span>
        </a>
      </li>
      <li class="__list-item" aria-current="page">
        <a href="/" data-navigo>
          <span>Login</span>
        </a>
      </li>
    </ol>
  </nav>
</div>
