<!--
/*
 * Add Catch
 * Select: Species Name, Disposition Code;
 * Btn: Add Catch

 * Elment IDs: list-species, list-dispo
*/
-->
<div class="margin-3">
  <form class="usa-form" id="grok_form_login" method="" action="">
    <fieldset class="usa-fieldset">
      <legend class="usa-legend usa-legend--large">Add Catch</legend>

      <label class="usa-label" for="list-species">
        Species Name
      </label>
      <select class="usa-select" id="list-species" title="Species" name="list-species">
      </select>

      <label class="usa-label" for="list-dispo">Disposition Code</label>
      <select class="usa-select" id="list-dispo" name="list-dispo">
      </select>

      <input id="add-catch" class="usa-button" type="submit" name="add-catch" value="Add Catch" />
    </fieldset>
  </form>

  <div id="map" class="margin-3"></div>
  </div>
</div>
