<!--
  List Catch
  Btn: Add Catch;
   - add-catch
  List: speciesName+speciesCode;
   - catch-list
-->
<div class="margin-3">
  <div class="usa-table-container--scrollable" tabindex="0">
    <table class="usa-table usa-table--striped">
      <caption>
        Catch List
      </caption>
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader">Species</th>
          <th data-sortable scope="col" role="columnheader">Count</th>
        </tr>
      </thead>
      <tbody id="catch-list">
      </tbody>
    </table>
  </div>

  <div class="margin-3">
    <label for="add-catch">
      <a id="add-catch" href="" class="usa-button" data-navigo>Add Catch</a>
    </label>
  </div>
</div>
