<!--
/*
 * Add Catch
 * Select: Species Name, Disposition Code;
 * Btn: Add Catch

 * Elment IDs: list-species, list-dispo
*/
-->

<div>
  <div>
    <h3>Add Catch</h3>
  </div>

  <div>
    <label for="list-species">
      Species Name
    </label>
    <select id="list-species" title="Species" name="list-species">
    </select>
  </div>

  <div>
    <label for="list-dispo">Disposition Code</label>
    <select id="list-dispo" title="Disposition Code" name="list-dispo">
    </select>
  </div>

  <div>
    <button id="add-catch" name="add-catch" type="button">Add Catch</button>
  </div>
</div>
