<!--
  List Haul
  Btn: Add New Haul;
   - add-haul
  List: Hauls -> haul-start.js
   - haul-list
-->

  <div class="margin-3">
    <div class="usa-table-container--scrollable" tabindex="0">
      <table class="usa-table usa-table--striped">
        <caption>
          Haul List
        </caption>
        <thead>
          <tr>
            <th data-sortable scope="col" role="columnheader">Catch List</th>
            <th data-sortable scope="col" role="columnheader">GPS Start</th>
            <th data-sortable scope="col" role="columnheader">Start Date</th>
          </tr>
        </thead>
        <tbody id="haul-list">
        </tbody>
      </table>
    </div>

    <div class="margin-3">
      <label for="add-haul">
        <a class="usa-button" href=""
          id="add-haul"
          name="add-haul"
          data-navigo
        >Add Haul</a>
      </label>
    </div>
</div>
