<!--
  Start Haul
  Input: Start Date, Start GPS;
   - start-date, start-gps
  Btn: Start Haul
   - start-haul
-->

<div>
  <div>
    <h3>Start Haul</h3>
  </div>

  <div class="margin-3">
    <label for="start-date">Start Date</label>
    <input id="start-date" title="Start Date" name="start-date" />
  </div>

  <div class="margin-3">
    <label for="start-gps">Start GPS</label>
    <input id="start-gps" title="Start GPS" name="start-gps" />
  </div>

  <div class="margin-3">
    <button id="start-haul" name="start-haul" type="button">Start Haul</button>
  </div>

  <div id="map" class="margin-3"></div>
</div>