<!--
  Start Haul
  Input: Start Date, Start GPS;
   - start-date, start-gps
  Btn: Start Haul
   - start-haul
-->

<div class="margin-3">
  <form class="usa-form" id="grok_form_login" method="POST" action="${login}">
    <fieldset class="usa-fieldset">
      <legend class="usa-legend usa-legend--large">Start Haul</legend>

      <label class="usa-label" for="start-date">Start Date</label>
      <input class="usa-input" id="start-date" title="Start Date" name="start-date" />

      <label class="usa-label" for="start-gps">Start GPS</label>
      <input class="usa-input" id="start-gps" title="Start GPS" name="start-gps" />    
      <button id="map-btn"
        class="usa-button usa-button--accent-warm margin-left-105"
        name="map-btn" type="button"
      >
        Show Map
      </button>

      <input id="start-haul" class="usa-button" type="submit" name="start-haul" value="Start Haul" />
    </fieldset>
  </form>

  <div id="map" style="width:900px; height:580px"></div>

</div>
