<!--
  Start Trip
  Inputs: Observer ID, Trip Number;
  - obs-id, trip-num
  Btn: Start Trip;
  - end-trip
-->

<div>
  <form class="usa-form" method="POST" action="">
    <fieldset class="usa-fieldset">
      <legend class="usa-legend usa-legend--large">End Trip</legend>

      <label class="usa-label" for="obs-id">Observer ID</label>
      <input class="usa-input" id="obs-id" title="Observer ID" name="obs-id" />

      <label class="usa-label" for="trip-num">Trip Number</label>
      <input class="usa-input" id="trip-num" title="Disposition Code" name="trip-num" />

      <input id="end-trip" class="usa-button" type="submit" name="end-trip" value="End Trip" />
    </fieldset>
  </form>
</div>
