<!--
  Start Trip
  Inputs: Observer ID, Trip Number;
  - obs-id, trip-num
  Btn: Start Trip;
  - start-trip
-->

<div>
  <form class="usa-form" id="grok_form_login" method="POST" action="${login}">
    <fieldset class="usa-fieldset">
      <legend class="usa-legend usa-legend--large">Start Trip</legend>

      <label class="usa-label" for="obs-id">Observer ID</label>
      <input class="usa-input" id="obs-id" title="Observer ID" name="obs-id" />

      <label class="usa-label" for="trip-num">Trip Number</label>
      <input class="usa-input" id="trip-num" title="Disposition Code" name="trip-num" />

      <input id="start-trip" class="usa-button" type="submit" name="start-trip" value="Start Trip" />
    </fieldset>
  </form>
</div>
