<!--
  Start Trip
  Inputs: Observer ID, Trip Number;
  - obs-id, trip-num
  Btn: Start Trip;
  - start-trip
-->

<div>
  <div>
    <h3>Start Trip</h3>
  </div>

  <div>
    <label for="obs-id">Observer ID</label>
    <input id="obs-id" title="Observer ID" name="obs-id" />
  </div>

  <div>
    <label for="trip-num">Trip Number</label>
    <input id="trip-num" title="Disposition Code" name="trip-num" />
  </div>

  <div>
    <button id="start-trip" name="start-trip" type="button">Start Trip</button>
  </div>
</div>
