<!--
  Start Trip
  Btn: Add New Trip;
  - start-trip
  List: Trip -> haul-list.js
  - trip-list
-->
<div>
  <div class="usa-table-container--scrollable" tabindex="0">
    <table class="usa-table usa-table--striped">
      <caption>
        Trip List
      </caption>
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader">Trip ID</th>
          <th data-sortable scope="col" role="columnheader">Observer</th>
        </tr>
      </thead>
      <tbody id="trip-list">
      </tbody>
    </table>
  </div>

  <div class="margin-3">
    <input id="start-trip" class="usa-button" name="start-trip" type="button" value="Start Trip" />
  </div>

</div
