<!--
  List Vessels
  List: Vessels -> trip-list.js
   - vessel-list
-->

<div>
  <div class="usa-table-container--scrollable" tabindex="0">
    <table class="usa-table usa-table--borderless">
      <caption>
        Vessel List
      </caption>
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader">Vessel Name</th>
          <th data-sortable scope="col" role="columnheader">Vessel Permit No.</th>
        </tr>
      </thead>
      <tbody id="vessel-list">
      </tbody>
    </table>
    <div
      class="usa-sr-only usa-table__announcement-region"
      aria-live="polite"
    ></div>
  </div>

</div>
